<u><h1 style="text-align:center">All the Noodles</h1></u>
<div class="row">
<% @noodles.each do |noodle| %>
    <div class="col-sm-6 col-md-4 noodle_container">
     <%=link_to noodle_path(noodle) do %>
      <% if noodle.image.attached? %>
      <div id="img">
        <%= image_tag noodle.thumbnail %>
        </div>
      <% end %>
      <!-- <h2><%= noodle.flavor%> - <%= noodle.brand.name %> </h2> -->
      <h2><%= noodle.brand.name %>: </h2>
      <h3><%= noodle.flavor%> Flavor  </h3>
        <h4>Rating: <%= current_rating(noodle) %> out of 5</h4> <!-- in the app/helpers/application_helper.rb file -->
        <%if current_user %><p>Created by: <%=link_to noodle.user.username.capitalize, user_path(noodle.user) %></p>
        <%end%>
    <%end%>
      <%if current_user %>
        <%= link_to "Write a review", new_noodle_review_path(noodle.id) %>
      <%else%>
        <%= link_to "Write a review", login_path %>
      <%end%>
  <div>
    <p><%= noodle.description %></p>
  </div>
      <br><br><br>
   </div>
<% end %>
</div>