<h1>All the Noodles</h1>
<div class="row">
<% @noodles.each do |noodle| %>
    <div class="col-sm-6 col-md-4">
     <%=link_to noodle_path(noodle) do %>
      <% if noodle.image.attached? %>
        <%= image_tag noodle.thumbnail %>
      <% end %>
      <h2><%= noodle.flavor%> - <%= noodle.brand.name %> </h2>
<<<<<<< HEAD
        <h4>Rating: <%= current_rating(noodle) %></h4> <!-- in the app/helpers/application_helper.rb file -->
=======
        <h4>Rating: <%= current_rating(noodle) %></h4>
>>>>>>> 99c1e6bcee67425da41953b4fa0c4db1ed5869aa
        <p>Created by <%=link_to noodle.user.username,user_path(noodle.user) %></p>
    <%end%>
      <%if current_user %>
        <%= link_to "Write a review", new_noodle_review_path(noodle.id) %>
      <%else%>
        <%= link_to "Write a review", login_path %>
      <%end%>
  <div>
    <p><%= noodle.description %></p>
  </div>
      <br><br><br>
   </div>
<% end %>
</div>