<u><h1>Add in New Noodles</h1></u>
<div>
<% render partial: 'layouts/errors', locals: {object: @noodle} %> <%# renders errors from the layout view%>
<%=  form_for(@noodle ,class:'form-inline' ) do |f|%>
<div class="form-group">
    <%= f.label :flavor %>
    <%= f.text_field :flavor%>
</div>
<div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>
<div class="form-group">
   <p> <%= f.label :image %>
     <%= f.file_field :image %></p>
</div>
    <br>

<label> Select a Brand that already exists: </label>
<div class="form-group">
<%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: 'Select One'%>
</div>
<label> Create a New Brand: </label>
<div class="form-group">
    <%= f.fields_for :brand do |b| %>
    <%= b.label :name %>
    <%= b.text_field :name %>
    <% end %>    
</div>
<br>
    <%= f.submit %>
<% end %>
</div>
