<% if @noodle %>
  <h1>Reviews for <%= @noodle.flavor%> - <%= @noodle.brand.name%></h1>
<% else %>
  <h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |review| %>
    <h3> Noodle: <%= review.noodle.flavor%></h3> <%= link_to review.title, review_path(review)%> - <%= review.stars%><br>
     Reviewed by : <%= link_to "#{review.user.username}", reviews_path(user_id: review.user.id) %>
    <div>
      <% if current_user %>
        <% if review.user_id == current_user.id ||  current_user.admin  %>
          <%= link_to "Edit",  edit_review_path(review) %>
          <%= link_to "Delete", review_path(review),  method: :delete %>
        <% end %>
      <% end %>
    </div>
    <br><br>
  <% end %>
</ul>


