<% if @review.noodle.image.attached? %> <!--2021-01-23 added image to the review-->
        <%= image_tag @review.noodle.thumbnail %>
      <% end %>
<h1><%= @review.title%> </h1>
<%if current_user %> by <%= link_to "#{@review.user.username.capitalize}", user_path(@review.user)  %><!--2021-01-22 update the noodle title look  -->
    <%end%>
<p>Rating: <%= @review.stars%> out of 5</p>
<p><%= @review.content%></p>
<div>
  <% if current_user %>
    <% if @review.user_id == current_user.id ||  current_user.admin  %>
      <%= link_to "Edit",  edit_review_path(@review) %> |
      <%= link_to "Delete", review_path(@review),  method: :delete %>
    <% end %>
  <% end %>
</div>
<br> <br>
<br><p><%= link_to "Back To #{@review.noodle.flavor}", noodle_path(@review.noodle_id) %> </p>