<h1><%= @review.title%> - <%= @review.stars%> </h1>

<p><%= @review.content%></p>
<div>
  <% if current_user %>
    <% if @review.user_id == current_user.id ||  current_user.admin  %>
      <%= link_to "Edit",  edit_review_path(@review) %>
      <%= link_to "Delete", review_path(@review),  method: :delete %>
    <% end %>
  <% end %>
</div>
<br> <br>
<br><p><%= link_to "Back To Noodle", noodle_path(@review.noodle_id) %> </p>